html {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}

.navbar--list li {
  position: relative;
  padding: 0;
}

.navbar--list li a::after {
  content: "";
  height: 2px;
  width: 100%;
  background: var(--text-white);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.15s ease;
}

.navbar--list li a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.overlay {
  position: absolute;
  top: 65px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(85, 120, 125, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
}

.show-overlay {
  display: block;
}

.btn--add,
.cart--icon,
.btn--buy {
  transition: all 0.2s ease-out;
}

.btn--add:hover {
  background-color: var(--space-blue);
  transition: all 0.2s ease-in;
  color: var(--text-white);
  animation: scale 1s infinite alternate;
}

.btn__reg:hover {
  background: linear-gradient(to right, var(--electric), var(--light-sunray));
  color: var(--text-strong);
  font-weight: 600;
}

.btn__init:hover {
  background: linear-gradient(to right, var(--space-blue), var(--electric));

  font-weight: 600;
}

.cart--icon:hover {
  color: var(--light-sunray);
  border-color: var(--sunray);
  transition: all 0.2s ease-in;
}

.btn--buy:hover {
  background: linear-gradient(to right, var(--electric), var(--light-sunray));
  font-weight: 600;
  transition: all 0.2s ease-in;
}

.disabled:hover {
  color: var(--electric);
  background: var(--background-main);
  cursor: not-allowed;
  border: none;
}

.quantity--handler {
  transition: all 0.2s ease-in;
}

.quantity--handler:hover {
  cursor: pointer;
  background-color: var(--electric);
  transition: all 0.2s ease-in;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.categories .category {
  transition: all 0.4s ease-out;
}
.categories .category:hover {
  transition: all 0.4s ease-in;
  transform: scale(1.15);
}
.contact--info i {
  transition: all 0.4s ease-out;
}

.contact--info i:hover {
  transition: all 0.4s ease-in;
  transform: scale(1.25);
}
.contact--info--container i:hover {
  color: var(--electric);
}

.contact--icon--social i:hover {
  color: var(--strong-sunray);
}

.contact--email button:hover {
  border-radius: 10px;
}

.product--card {
  transition: all 0.4s ease-out;
}

.product--card:hover {
  animation: scale 2s infinite alternate;
  transition: all 0.2s ease-in;
}

/* Entradas Section */

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.hero--container h1 {
  animation: fade 1s ease-in, slide-right 1.3s ease-in-out;
}

.hero--container--bttns a {
  opacity: 0;
  animation: fade 0.8s ease-in forwards, slide-right 1.3s ease-in-out;
  animation-delay: 0.4s;
}

.hero--container--info div {
  opacity: 0;
  animation: fade 0.8s ease-in forwards, slide-up 1.5s ease-in-out;
  animation-delay: 0.6s;
}

.login--form {
  animation: fade 1s ease-in, slide-up 1.2s ease-in-out;
}

.login--form .form__field:nth-child(2) {
  opacity: 0;
  animation: fade 0.8s ease-in forwards, slide-right 1.3s ease-in-out;
  animation-delay: 0.4s;
}
.login--form .form__field:nth-child(3) {
  opacity: 0;
  animation: fade 0.8s ease-in forwards, slide-right 1.3s ease-in-out;
  animation-delay: 0.6s;
}
.login--form .form__field:nth-child(4) {
  opacity: 0;
  animation: fade 0.8s ease-in forwards, slide-right 1.3s ease-in-out;
  animation-delay: 0.8s;
}
.login--form .form__field:nth-child(5) {
  opacity: 0;
  animation: fade 0.8s ease-in forwards, slide-right 1.3s ease-in-out;
  animation-delay: 1s;
}
