html {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}

.navbar--list li {
  position: relative;
  padding: 0;
}

.navbar--list li a::after {
  content: "";
  height: 2px;
  width: 100%;
  background: var(--text-white);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.15s ease;
}

.navbar--list li a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.overlay {
  position: absolute;
  top: 65px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(85, 120, 125, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
}

.show-overlay {
  display: block;
}

.btn--add,
.cart--icon,
.btn--buy {
  transition: all 0.2s ease-out;
}

.btn--add:hover {
  background-color: var(--space-blue);
  transition: all 0.2s ease-in;
  color: var(--text-white);
  animation: scale 1s infinite alternate;
}

.btn__reg:hover {
  background: linear-gradient(to right, var(--electric), var(--light-sunray));
  color: var(--text-strong);
  font-weight: 600;
}

.btn__init:hover {
  background: linear-gradient(to right, var(--space-blue), var(--electric));

  font-weight: 600;
}

.cart--icon:hover {
  color: var(--light-sunray);
  border-color: var(--sunray);
  transition: all 0.2s ease-in;
}

.btn--buy:hover {
  background: linear-gradient(to right, var(--electric), var(--light-sunray));
  font-weight: 600;
  transition: all 0.2s ease-in;
}

.disabled:hover {
  color: var(--electric);
  background: var(--background-main);
  cursor: not-allowed;
  border: none;
}

.quantity--handler {
  transition: all 0.2s ease-in;
}

.quantity--handler:hover {
  cursor: pointer;
  background-color: var(--electric);
  transition: all 0.2s ease-in;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
